[ req ]
default_bits       = 2048
prompt             = yes
default_md         = sha256
distinguished_name = req_distinguished_name

[ req_distinguished_name ]
countryName = Country Name (2 letter code)
countryName_default = BR
stateOrProvinceName = State or Province Name
stateOrProvinceName_default = Santa Catarina
localityName = Locality Name
localityName_default = Lages
organizationName = Organization Name
organizationName_default = Projeto MQTT Seguro
organizationalUnitName = Organizational Unit Name
organizationalUnitName_default = Redes de Computadores II
commonName = Common Name
commonName_max = 64
emailAddress = Email Address
emailAddress_max = 64